@font-face {
  font-family: "Aino";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Aino-Regular"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/Aino-Regular.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/Aino-Regular.woff") format("woff");
}

@font-face {
  font-family: "Aino-Bold";
  font-style: bold;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Aino-Bold"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/Aino-Bold.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/Aino-Bold.woff") format("woff");
}

@font-face {
  font-family: "Aino-Headline";
  font-style: bold;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Aino-Headline"),
       /* Если не получилось, загрузит woff2 */
       url("fonts/Aino-Headline.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("fonts/Aino-Headline.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #212E51;
  position: fixed; /* Установите навигационную панель в фиксированное положение */
  top: 0; /* Расположите навигационную панель в верхней части страницы */
  width: 100%; /* Полная ширина */
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar img {
  float: left;
  display: block;
  padding: 4px 16px;
}

.navbar a:hover {
  background: #D2B589;
  color: black;
}

.logo img {
  margin: auto;
}

.header {
  justify-content: center;
  justify-content: center;
  background-color: #EDE5DA;
  display: flex;
  flex-direction: row;
}

.description {
  padding: 5%;
  align-self: center;
}



.header h1 {
  color: #212E51;
  font-size: 50px;
}

.header p {
  font-size: 24px;
}

.line {
  background-color: #D2B589;
  height: 5%;
}


.join {
  padding: 5%;
  background-color: #EDE5DA;
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: nowrap;
}

.join-img {
  float: left;
  width: 33%;
}

.join-text {
  margin: 15px 15px;
  display: inline;
}

.join h2 {
  font-size: 40px;
  color: #212E51;
}

.join p {
  font-size: 22px;
}

.events {
  padding: 5%;
  background-color: #D2B589;
}

.events h2 {
  font-size: 40px;
  color: white;
}

.events-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 10px 10px;
  grid-auto-flow: row dense;
}

.event {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 70% 20% 10px;
  border: 4px solid #212E51;
  border-radius: 6px;
  background-color: #EDE5DA;
  gap: 5px 5px;
  min-height: 190px;
}

.event-big {
  grid-column: span 2;
  grid-row: span 2;
}

.event:hover {
  background-color: #E8E5E0;
  transition: 0.2s;
}

.event img {
  grid-column: 1 / 3;
  justify-self: stretch;
  align-self: center;
  padding: 10px 10px;
}

.event h3 {
  font-size: 20px;
  grid-column: 3 / 8;
  justify-self: center;
  align-self: center;
  color: #212E51;
  padding: 10px 10px;
  margin: 10px 10px;
}

.event h3:hover {
  text-decoration: underline;
  color: black;
}

.event .button-yes {
  grid-column: 2 / 4;
  background-color: #9EB17A; /* Зеленый */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.event .button-yes:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white; /* Зеленый */
    color: black;
    font-size: 16px;
    border: 3px solid #9EB17A;
}

.event .button-no {
  grid-column: 5 / 7;
  background-color: #988D8D;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.event .button-no:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: white; /* Зеленый */
  color: black;
  font-size: 16px;
  border: 3px solid #988D8D;
}

.event .button-multiple-1 {
  justify-self: stretch;
  background-color: #4CAF50; /* Зеленый */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  grid-column: 2 / 3;
}

.event .button-multiple-2 {
  justify-self: stretch;
  background-color: #4CAF50; /* Зеленый */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  grid-column: 4 / 5;
}

.event .button-multiple-more {
  justify-self: stretch;
  background-color: #4CAF50; /* Зеленый */
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  grid-column: 6 / 7;
}

.event-buttons {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: space-between;
}

.button-multiple {
  grid-column: span 1;
  background-color: #212E51;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  margin: 3px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-multiple:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: white;
  color: black;
  font-size: 16px;
  border: 3px solid #212E51;
}

.construction {
  height: 100%;
  background-color: #EDE5DA;
}


/* Адаптивность

*/

@media(max-width: 900px) {

  .header {
  margin-top: 50px;
  }

  .header {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  .header-logo {
    float: center;
    width: 100%;
  }

  .join {
    padding: 5%;
    background-color: #EDE5DA;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
  }

  .join-img {
    float: center;
    width: 100%;
  }

  .events {
  padding: 5%;
  background-color: #D2B589;
  }

  .events h2 {
    font-size: 40px;
    color: white;
  }

  .events-container {
    display: flex;
    flex-direction: column;
  }

  .event {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 70% 20% 10px;
    border: 4px solid #212E51;
    border-radius: 6px;
    background-color: #EDE5DA;
    gap: 5px 5px;
    min-height: 300px;
  }

  .event-big {
    flex-wrap: wrap;
  }

  .event-buttons {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  }

.button-multiple {
  grid-column: span 2;
  background-color: #212E51;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  margin: 3px 3px;
  }


}

/* Поля ввода полной ширины */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для всех кнопок */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Дополнительные стили для кнопки Отмена */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Модальное содержание/бокс */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% сверху, 15% снизу и по центру */
  border: 1px solid #888;
  width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* Кнопка закрытия (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

------------------------------------------
